body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 0 90px;
    background-color: #1f2937;
    color: white;
}

.right {
    flex-grow: 2;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

#hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

#hero2 {
    font-size: 18px;
    font-weight: 900;
    color: #e5e7eb;
    margin: 0;
}

img {
    width: 300px;
    height: 300px;
}

.headerandlinks {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.headercontent {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

button {
    background-color: #3882f6;
    color: white;
}