body {
    margin: 0;
}

.header {

}

.trueheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}