body {
    margin: 0;
}

.header {
    padding: 0 90px;
}

.headerandlinks {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.headercontent {
    display: flex;
    justify-content: space-between;
}